/*ContentArea.js*/
.each-component {
    /*border: 1px solid black;*/
    /*margin: 10px;*/
    /*padding: 10px;*/
}
.fake-nav-btn {
    margin: 10px;
}
.my-header {
    text-align: center;
}
/*end ContentArea.js*/


/*Home.js*/
.home-slides {
    height: 300px;
}
.my-carousel-inner {
    background-color: cornflowerblue;
}
/*end Home.js*/


/*Portfolio.js*/
.portfolio-component {
    margin-top: 50px;
}
/*.portfolio-table {*/
    /*!*margin: 50px;*!*/
    /*padding: 50px;*/
/*}*/
.portfolio-item {
    margin-top: 20px;
}
.portfolio-screenshot {
    width: 480px;
    height: auto;
}
/*.portfolio-logo {*/
    /*height: 20px;*/
    /*width: auto;*/
/*}*/
/*end Portfolio.js*/


/*Resume.js*/
.resume-component {
    margin-top: 50px;
}
.resume-btn-link {
    margin-top: 30px;
}
.resume-img {
    margin-top: 20px;
}
.resume-profile-img {
    width: 180px;
    height: auto;
}
.resume-thumbnail {
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 auto;
}
/*end Resume.js*/



/*About.js*/
.about-item {
    margin: 50px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    /*height: 100px;*/
    /*width: 100px;*/
}
.about-video-placeholder {
    /*width: 100px;*/
    height: auto;
}
/*end About.js*/



/*ContactForm.js*/
.contact-form-div {

}
/*end ContactForm.js*/


/*ContactInfo.js*/
.contact-item {
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-logo {
    /*images of email, phone, text, linkedin, etc. logos*/
    height: 30px;
    width: auto;
}
.contact-info-header {
    margin-bottom: 30px;
}
dd {
    margin-bottom: 30px;
}
/*end ContactInfo.js*/




/*Misc*/
.no-bullets {
    list-style: none;
}
.text-bold {
    font-weight: bold;
}
.text-underline {
    text-decoration: underline;
}
/*end Misc*/