/*ContentArea.js*/
.each-component {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.fake-nav-btn {
    margin: 10px;
}
.my-header {
    text-align: center;
}
/*end ContentArea.js*/


/*Home.js*/
.home-slides {
    height: 300px;
}
.my-carousel-inner {
    background-color: cornflowerblue;
}
/*end Home.js*/



/*Resume.js*/

/*end Resume.js*/



/*About.js*/

/*end About.js*/



/*ContactInfo.js*/
.contact-logo {
    /*images of email, phone, text, linkedin, etc. logos*/
    height: 30px;
    width: auto;
}
.contact-info-header {
    margin-bottom: 30px;
}
dd {
    margin-bottom: 30px;
}
/*end ContactInfo.js*/




/*Misc*/
.no-bullets {
    list-style: none;
}
/*end Misc*/